<!--<div class = "container">-->
<!--<div class="d-flex justify-content-end">-->
 <header>
  <div class="sticky-top">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://7efe9a1d90d34dc89c9e319e36ca0a12.vfs.cloud9.us-east-2.amazonaws.com/employees/new">初めての方はこちら</a>
    
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--  <span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    
    <div class="collapse navbar-collapse d-flex justify-content-end">
      <div class="navbar-nav">
  
        
        <a class="nav-item nav-link" href="https://7efe9a1d90d34dc89c9e319e36ca0a12.vfs.cloud9.us-east-2.amazonaws.com/bodytemperatures/">
        提出状況
        </a>
        
        <a class="nav-item nav-link" href="https://7efe9a1d90d34dc89c9e319e36ca0a12.vfs.cloud9.us-east-2.amazonaws.com/employees/">
        登録社員一覧
        </a>
       
        <a class="nav-item nav-link" href="https://7efe9a1d90d34dc89c9e319e36ca0a12.vfs.cloud9.us-east-2.amazonaws.com/bodytemperatures/new">
        体温を登録
        </a> 
        
        <a class="nav-link logout" href="/users/sign_out", method: :delete>
        ログアウト
        </a>
           </nav>
        </div>
      </div>
    </div>
<!--</div>-->
</header>

 <!--<div class = "container">-->
  <% flash.each do |key, value| %>
  <p class="alert alert-<%= key %>">
    <%= value %>
  </p>
<% end %>

<h4 class="register">社員<%= @employee %>人中<%= @unsubmit %>人が未提出</h4>

<div class = "today">
<h1 id="view_today"></h1><i class="fas fa-search i-sea"></i>
</div>




<div class= "search-form" >
    <h4>提出者検索フォーム</h4>
    <hr></hr>
    <%= form_with model: @bodytemperature do |form| %>
    　  <div class="form-group">
            <%= form.number_field :number, id:"form-number",class:"form-control" ,step:1,placeholder: "社員番号", :required => true %>
        </div>
        <%= form.submit "検索する",class:"btn btn-info w-100"%>
</div>
<% end %>

<div class = "unsubmit">
    <h1>未提出者一覧</h1>
      <table class="table table-bordered table-primary">
          <thead>
            <tr>
              <th scope="col">社員名</th>
            </tr>
          </thead>
        <!--</div>-->
          
          
           <tbody>
            <%  @unsubmitters.each do |employee| %>
            <tr>
              <td><%= employee.name %></td>
            </tr>
        <% end %>
           </tbody> 
      </table>
 <ul class="pagination">
 <%= paginate @unsubmitters %>
 </ul>
</div>
    
    
    
 <div class = "negative">  
      <h1>体調不良者一覧</h1>
     <table class="table table-bordered table-primary">
  <thead>
    <tr>
      <th scope="col">社員名</th>
      <th scope="col">体調の状態</th>
      <th scope="col">体温</th>
      <th scope="col">削除</th>
      <th scope="col">編集</th>
    </tr>
  </thead>
  
   <tbody>
    <% @negatives.each do |bodytemperature| %>
    <tr class="<%= "red" if bodytemperature.temper >= 37.0  %> <%= "orange" if bodytemperature.temper < 37.0 %>"  >
      <td><%= bodytemperature.employee.name%></td>
      <td><%= bodytemperature.reason %></td>
      <td><%= bodytemperature.temper %></td>
      <td>
         <div class ="buttons"> 
         <%= link_to bodytemperature, method: :delete, data: { confirm: "本当に削除しますか？" }  do %>
         <i class="fas fa-trash-alt"></i> 
         <% end %>
         </div> 
      </td>
      <td>
          <div class ="buttons">
          <%= link_to edit_bodytemperature_url(bodytemperature), method: :get do %>
          <i class="fas fa-user-edit"></i>
          <% end %>
          </div>
      </td>
    </tr>
<% end %>
   </tbody> 
 </table>
  <ul class="pagination">
 <%= paginate @negatives %>
 </ul>
</div>
    
    
    
    
<div class = "positive">
  <h1>提出者一覧</h1>  
    <table class="table table-bordered table-primary">
  <thead>
    <tr>
      <th scope="col">社員名</th>
      <th scope="col">体調の状態</th>
      <th scope="col">体温</th>
      <th scope="col">削除</th>
      <th scope="col">編集</th>
    </tr>
  </thead>
  

  
   <tbody>
    <% @positives.each do |bodytemperature| %>
<tr>
      <td><%= bodytemperature.employee.name%></td>
      <td><%= bodytemperature.reason %></td>
      <td><%= bodytemperature.temper %></td>
      <td>
         <div class ="buttons"> 
         <%= link_to bodytemperature, method: :delete, data: { confirm: "本当に削除しますか？" }  do %>
         <i class="fas fa-trash-alt"></i> 
         <% end %>
         </div> 
      </td>
      <td>
          <div class ="buttons">
          <%= link_to edit_bodytemperature_url(bodytemperature), method: :get do %>
          <i class="fas fa-user-edit"></i>
          <% end %>
          </div>
      </td>
    </tr>
<% end %>
   </tbody> 
 </table>
 <ul class = "pagination">
 <%= paginate @positives %>
 </ul>
</div>

<script type="text/javascript">
document.querySelector("#view_today").innerHTML = getToday();

function getToday() {
	var now = new Date();
	var mon = now.getMonth()+1; //１を足すこと
	var day = now.getDate();
	var you = now.getDay(); //曜日(0～6=日～土)

	//曜日の選択肢
	var youbi = new Array("日","月","火","水","木","金","土");
	//出力用
	var s =   mon + "月" + day + "日(" + youbi[you] + ")の提出状況";
	return s;
}




$(function () {
    $('.fa-search').on('click', () => {
        $('.search-form').slideToggle("fast");
    });
});


</script>