<div class="container" >
<div class="sticky-top">
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://7efe9a1d90d34dc89c9e319e36ca0a12.vfs.cloud9.us-east-2.amazonaws.com/employees/new">初めての方はこちら</a>
  <div class="collapse navbar-collapse" id="Navbar">
    <div class="navbar-nav">

      <a class="nav-item nav-link" href="#">
      <li class="fas fa-book-open fa-lg"></li>
      利用方法
      </a>
      
      <a class="nav-item nav-link" href="#">
      <li class="fas fa-user-check fa-lg"></li>
      提出状況
      </a>
      
      <a class="nav-item nav-link" href="/employees/">
      <li class="fas fa-users fa-lg"></li>
      登録社員一覧
      </a>
     
      <a class="nav-item nav-link" href="https://7efe9a1d90d34dc89c9e319e36ca0a12.vfs.cloud9.us-east-2.amazonaws.com/bodytemperatures/new">
      <li class="fas fa-thermometer fa-lg"></li>
      体温を登録
      </a> 
      
      <a class="nav-link" href="/users/sign_out", method: :delete>
      <li class="fas fa-users-slash"></li>
      ログアウト
      </a>
      </div>
    </div>
    </header>
  </div>
</nav>


<h2>社員番号編集画面</h2>
<p>社員番号を編集してください</p>       
　<% flash.each do |name, msg| %>
  <div class="alert alert-</div><%= name %>">
    <%= msg %>
  </div>
  
<% end %>

<body>
<%= form_with model: @employee do |form| %>
<div class = "center">
   <div class="form-group">
        <%= form.label "form-name", "名前を編集してください" %>
        <%= form.text_field :name, id:"form-name",class:"form-control",value: @employee.name %>
   </div>
    
   <div class="form-group">
        <%= form.label "form-number", "社員番号を編集してください" %>
        <%= form.number_field :number, id:"form-number",class:"form-control",value: @employee.number %>
   </div>
    <%= form.submit "編集する",class:"btn btn-primary"%>
<% end %>
 </div>
 </body>
